# Node modules 
node_modules/

# Local environment variables 
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# OS-specific
.DS_Store
Thumbs.db

.vscode/
.idea/
*.swp

package-lock.json
images/
images2/
images3/
