<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>hi i'm ananya.</title>
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="styles.css" />
</head>
<body>
  <div class="container">
    <header class="navbar">
      <a href="/" style="text-decoration: none;"><span class="name">/ananya dua</span></a>
      <nav class="nav">
        <a href="/research.html">/research 🔬</a>
        <a href="/portfolio.html">/portfolio 💻</a>
        <a href="/travel.html">/travel ✈️</a>
        <a href="/bookshelf.html">/blog 🖋️</a>
      </nav>
    </header>

    <hr />

    <main>
      <h1><strong>welcome to ananya's corner of the internet 👾</strong></h1>
      <h2>about me</h2>
      <p>
        I'm a student at Berkeley studying Computer Science, Mathematics (with a focus on Combinatorics and Logic),
        and Statistics. I do research on neural temporal point processes, wearable sensors, and multimodal biosignal
        processing at UCSF-UC Berkeley Computational Precision Health's <a href="https://subramanianlab.com" target="_blank" rel="noopener noreferrer">SANDLab</a>. My full resume can be seen
        <a href="https://your-resume-link.com" target="_blank" rel="noopener noreferrer">here.</a>
      </p>
      <p>
        At Berkeley, I read/tutor for STAT 134, edit for the <a href="https://buj.studentorg.berkeley.edu" target="_blank" rel="noopener noreferrer">Berkeley Undergraduate Journal,</a> and mentor incoming students at <a href="https://mpsscholars.berkeley.edu/home" target="_blank" rel="noopener noreferrer">MPS</a> & <a href="https://cdss.berkeley.edu/students" target="_blank" rel="noopener noreferrer">CDSS</a>.
      </p>
      <p>
        Beyond school and work, I enjoy <a href="travel.html" target="_blank" rel="noopener noreferrer">traveling</a>.
      </p>
      <h2>socials</h2>
      <ul>
        <li>GitHub: <a href="https://github.com/ananyadua27" target="_blank" rel="noopener noreferrer">ananyadua27</a></li>
        <li>Goodreads: <a href="https://www.goodreads.com/user/show/170673430-ananya-dua" target="_blank" rel="noopener noreferrer">ananya-dua</a></li>
        <li>Berkeley Email: ananydua [at] berkeley [dot] edu </li>
        <li>Personal Email: dua [dot] ananyaa [at] gmail [dot] com</li>
      </ul>
    </main>
  </div>
  <p style="text-align: center; font-size: 0.9rem; color: #999; margin-top: 4em;">
  made with ☕️ and 🐛s.<br />© 2025 ananya dua. all rights reserved.
</p>

</body>
</html>

