.horiz {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 500px;
}
.horiz ul {
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
    padding: 0;
}
.horiz ul li a {
  text-decoration: none;
  font-size: larger;
  color: #5E17EB;
  font-weight: bold;
}
.horiz ul li a:hover {
  color: #956ce7;
}
body {
  font-family: 'Nunito', sans-serif;
}


